<%- include('partials/header'); %>

<div class="container">
	<header class="jumbotron">
	  <h1 class="display-4">Welcome to Om Nom Nom!</h1>
	  <p class="lead">Find and share delicious recipes</p>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Submit New Recipe</a>
	</header>
	<main>
		<div class="row align-content-around">
			<% recipes.forEach(function(recipe){ %>
				<article class="col-md-6 col-lg-4 d-flex align-items-stretch card-container"> <!-- d-flex align-items-stretch -->
					<div class="card">
						<img src="<%= recipe.image %>" alt="<%= recipe.name %>">
						<section class="card-body">
							<h4 class="card-title"><%= recipe.name %></h4>
							<p class="card-text"><%= recipe.directions.substring(0, 100) %>&#8230;</p>
							<a href="#" class="btn btn-primary">Full recipe</a>
						</section>
					</div>
				</article>
			<% }); %>
		</div>
	</div>	
	</main>
	
</div>

<%- include('partials/footer'); %>