<%- include('../partials/header'); %>

<div class="row">
	<main class="col-lg-9">

		<h1><%= recipe.name %></h1>

		<img src="<%= recipe.image %>" width="300">

		<p><%= recipe.directions %></p>

		<hr>

		<% recipe.comments.forEach(function(comment){ %>
		<ul>
			<li><%= comment.text %> - By <%= comment.author %></li>
		</ul>

		<% }); %>

		<a href="/recipes/<%= recipe._id %>/comments/new" class="btn btn-success">Add New Comment</a>
	</main>
	<aside class="col-lg-3">
    <h3 class="text-center">More Recipes</h3>
		<% otherRecipes.forEach(function(recipe){ %>
				<div class="card text-center my-3">
	  			<div class="card-header">
						<a href="/recipes/<%= recipe._id %>" class="stretched-link"><%= recipe.name %></a>
	  			</div>
	  			<img src="<%= recipe.image %>" class="card-img">
	  		</div>
	  	</a>
		<% }); %>
	</aside>
</div>

<%- include('../partials/footer'); %>